.contactContainer{
    height:100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display:flex;
    height:100vh;
    font-size:1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}

.paragraph{
    /* border:1px solid white; */
    width:30vw;
    display: flex;
    justify-content: space-between;
}
.email{

}

.userName{
    
}

.message{
    height:5rem;
}